# Folders
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Screenshots/
shared/
Templates/
Videos/

# Hidden Folders
.altera.quartus/
.ansible/
.cache/
.cargo/
.config/*
!.config/i3/
!.config/kitty/
.continue/
.cookiecutter_replay/
.cookiecutters/
.designer/
.docker/
.eclipse/
.gnome/
.gnupg/
.java/
.librewolf/
.local/
.mozilla/
.npm/
.nuget/
.nv/
.password-store/
.pki/
.snes9x/
.sonar/
.ssh/
.ssr/
.steam/
.swt/
.var/
.vapor/sessions/
.vscode-oss/
.wine/
.zsh/

# Hidden Files
.bash_history
.face
.face.icon
.fehbg
.fonts.conf
.git-credentials
.gitconfig
.gtkrc-2.0
.install4j
.lesshst
.node_repl_history
.nvidia-settings-rc
.pgpass
.psql_history
.python_history
.steampath
.steampid
.ts_node_repl_history
.wget-hsts
.widgets
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zhistory
# Rules
*.bkp
